@forward "accordion";
@forward "alert";
@forward "avatar";
@forward "badge";
@forward "banner";
@forward "blend";
@forward "brand-2";
@forward "breadcrumb";
@forward "btn";
@forward "card-flush";
@forward "card";
@forward "case-study-card";
@forward "circular-card";
@forward "compare-table";
@forward "data-center-location";
@forward "dropdown";
@forward "form-check";
@forward "form-control";
@forward "form-select";
@forward "group";
@forward "horizontal-grid";
@forward "line-clamp";
@forward "list";
@forward "logo";
@forward "modal";
@forward "navigation-0";
@forward "navigation-1";
@forward "navigation-2";
@forward "navigation-3";
@forward "offcanvas";
@forward "pagination";
@forward "portfolio-card";
@forward "post-img-size";
@forward "preloader";
@forward "price-card-1";
@forward "price-card-2";
@forward "price-tag";
@forward "progress";
@forward "scroller-x";
@forward "scroller-y";
@forward "search-filter";
@forward "sticky-list";
@forward "switcher";
@forward "tab-1";
@forward "tab-2";
@forward "tab-3";
@forward "tab-4";
@forward "tab-underline";
@forward "table";
@forward "team-member-1";
@forward "team-member-2-slider";
@forward "testimonial-9";
@forward "testimonial-slider-1";
@forward "testimonial-slider-3";
@forward "testimonial-slider-4";
@forward "testimonial-slider-5";
@forward "testimonial-slider-8";
@forward "text-splash";
@forward "text-stroke";
@forward "timeline-1";
@forward "tooltip";
@forward "triangle-shape";
@forward "video-player";
@forward "vps-table";
